brotlipy
gdown
omegaconf
pip-chill
pyopenssl
pysocks
pytest
torchaudio
torchvision
transformers
emoji
nltk
spacyopentapioca
gradio
flask
flask_healthz
pysolr==3.8.1
numpy==1.17.2
segtok==1.5.7
colorama==0.4.3
termcolor==1.1.0
faiss-cpu
gensim==3.8.3
flair
pytorch_transformers